.hidden{
	display:none;
}

.btnwrap{
    display:flex;
    margin-top:10px;
}
.lookup-info{
    width:80%;
    margin:auto;
}
.label{
    font-size: 1.1em;
}
.left{
    margin:0% 1% 0% 0%;
    padding: 0% 1% 0% 0%;
    border-right: 1px solid #cecece;
}
.user-main .left{
	width:20%;
}
.user-main .right{
	width:80%;
}
.channel-main .left{
    width:33%;
}
.channel-main .right{
	width:70%;
}
.info{
    margin-bottom:2%;
}
.info .value{
    color:gray;
}
.info-link{
    margin-bottom:1%;
}
.top-slider{
    text-align:center;
}


/*** USER AREA ***/
.user-main, .channel-main{
    display:flex;
    margin-bottom:2%;
    padding:2%;
    background-color:white;
}
.user-name .info, .channel-name .info, .username{
    margin:0;
}
.uUsername, .cToken{
    font-size:1.25em;
}
.uAvatarURL, .cThumbURL{
    min-width:100%;
}
.cThumbURL img{
    width:100%;
}

.uAvatarURL img{
    width:100%;
    max-width:256px;
}
.uSocial{
    text-align:center;
}
.uSocial .fa{
    font-size:2em;
    color: #0b1122;
}
.uSocial a{
    display:none;
}

/*** Channel Area ***/
.cOnline{
    font-size:1.75em;
}
.cOnline.online{
    color:green;
}
.cOnline.offline{
    color:red;
}
.cLink{
    margin-bottom: 3%;
}
.cLink a, .cLink a:active, .cLink a:visited, .cLink a:hover{
    color:#0b1122;
}