body {
    background-color: #0b1122;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #19c3b4;
}
.hidden{
	display:none;
}
a, a:active, a:visited, a:link{
	font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-decoration: none;
}
a:hover{
	color: #cecece;
}
.topbuttons{
	min-height:20px;
	padding-right:10px;
}
.topbuttons a{
	margin-left:15px;
	float:right;
}
h1 {
    margin: 5px 0px 5px 0px;
    padding: 0px;
}
p{
    padding:0px;
    margin:0px;
}
span{
    display:block;
}
input {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.03);
    background-image: none;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -o-box-shadow: '' inset 0 1px 1px rgba(0, 0, 0, 0.075) 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: '' inset 0 1px 1px rgba(0, 0, 0, 0.075) 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease;
    transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease;
}
.top{
    color: white;
    padding: 5px 5px 5px 10px;
    background-image:url('../images/top-bg.jpg');
    border-bottom: 1px solid #2871ff;
}
.input:focus {
    border-color: #38acf1;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(56, 172, 241, 0.6);
    -o-box-shadow: '' inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(56, 172, 241, 0.6) 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: '' inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(56, 172, 241, 0.6) 1px 2px rgba(0, 0, 0, 0.2);
}
.top button,
.settings button,
.removeChannel,
.stopwatching {
    margin: 3px auto;
    display: block;
    text-align: center;
    color: #fff;
    border-radius: 4em;
    background: rgba(62, 73, 90, 0.75);
    text-shadow: 0 0 1px rgba(20, 24, 30, 0.95);
    letter-spacing: 1px;
    border: 1px solid transparent;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-weight: regular;
    position: relative;
    outline: 0 !important;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    cursor: pointer;
}
.top button:hover,
.settings button:hover,
.removeChannel:hover,
.stopwatching:hover
 {
    outline: 0 !important;
    color: #ffffff;
    border-color: transparent;
    background: rgba(83, 97, 120, 0.75);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 3px rgba(255, 255, 255, 0.05);
}
.settings button {
    margin: 0px;
}
.top button:focus,
.settings button:focus,
.removeChannel:focus,
.stopwatching:focus
{
    -webkit-transform: translate3d(0, 1.5px, 0);
    transform: translate3d(0, 1.5px, 0);
}
.btnwrap{
    display:flex;
    margin-top:10px;
}
.lookup-info{
    width:80%;
    margin:auto;
}
.label{
    font-size: 1.1em;
}
.left{
    margin:0% 1% 0% 0%;
    padding: 0% 1% 0% 0%;
    border-right: 1px solid #cecece;
}
.user-main .left{
	width:20%;
}
.user-main .right{
	width:80%;
}
.channel-main .left{
    width:33%;
}
.channel-main .right{
	width:70%;
}
.info{
    margin-bottom:2%;
}
.info .value{
    color:gray;
}
.info-link{
    margin-bottom:1%;
}
.top-slider{
    text-align:center;
}
.uihide{
    background-color:#1f2c4f;
    color:white;
    border:1px solid #2871ff;
    border-radius: 0px 0px 5px 5px;
    padding:5px 20px 5px 20px;
    cursor: pointer;
    margin-top:-1px;
}


/*** USER AREA ***/
.user-main, .channel-main{
    display:flex;
    margin-bottom:2%;
    padding:2%;
    background-color:white;
    border:1px solid #2871ff;
    color:#0b1122;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.user-name .info, .channel-name .info, .username{
    margin:0;
}
.uUsername, .cToken{
    font-size:1.25em;
}
.uAvatarURL, .cThumbURL{
    min-width:100%;
}
.cThumbURL img{
    width:100%;
}

.uAvatarURL img{
    width:100%;
    max-width:256px;
}
.uSocial{
    text-align:center;
}
.uSocial .fa{
    font-size:2em;
    color: #0b1122;
}
.uSocial a{
    display:none;
}

/*** Channel Area ***/
.cOnline{
    font-size:1.75em;
}
.cOnline.online{
    color:green;
}
.cOnline.offline{
    color:red;
}
.cLink{
    margin-bottom: 3%;
}
.cLink a, .cLink a:active, .cLink a:visited, .cLink a:hover{
    color:#0b1122;
}
